version: '3.7'

services:
  app:
    build: ./script/

  db:
    image: 'postgres:latest'
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: admin   
      POSTGRES_PASSWORD: admin 
      POSTGRES_DB: random_user
  web:
    build: ./api/

